<div layout="column" layout-fill style="padding-bottom: 32px;">
  <!-- button -->
  <md-button class="md-raised md-primary" ng-click="main.spin=!main.spin;main.search()">
    Search for places
  </md-button>
  <!-- spinner -->
  <md-progress-circular style="margin: 20px auto;" ng-show="main.spin" class="md-hue-2" md-mode="indeterminate">
  </md-progress-circular>
  <md-whiteframe class="md-whiteframe-z3" layout
   ng-repeat="place in main.places | orderBy: ['-rating', '+distance']">
   <div class="insta_bg"
   ng-if="place.$photos && place.$photos.length > 0"
   ng-style="{'background-image':'url({{ place.$photos[0] }})'}">
   </div>
    <md-card-content>
      <h2 class="md-title">{{ place.name }}</h2>
      <p class="md-body-1"><b>{{ place.distance | number: 0 }}</b> meters from you</p>
      <p class="md-body-1" ng-show="place.dValue == 100 && place.rating > 0">{{ place.rating }} stars</p>
      <img class="img-type" ng-src="{{ place.icon }}" />
    </md-card-content>
    <md-progress-linear md-mode="determinate" ng-show="place.dValue >= 0" value="{{ place.dValue || 0 }}"></md-progress-linear>
  </md-whiteframe>
</div>
