<div layout="column" layout-fill style="padding-bottom: 32px;">
  <!-- button -->
  <md-button class="md-raised md-primary" ng-click="main.spin=!main.spin;main.search()">
    Search for places
  </md-button>
  <!-- spinner -->
  <md-progress-circular style="margin: 20px auto;" ng-show="main.spin" class="md-hue-2" md-mode="indeterminate">
  </md-progress-circular>
  <md-whiteframe class="md-whiteframe-z3" layout
   ng-repeat="place in main.places | orderBy: ['-rating', '+distance']">
    <md-card-content>
      <h2 class="md-title">Name: {{ place.name }}</h2>
      <p class="md-body-1">Distance: {{ place.distance | number: 2 }} Meters</p>
      <p class="md-body-1">Rating: {{ place.rating }} stars</p>
      <!-- TODO: quick and dirty, remove to class -->
      <img style="position: absolute; top: 10%; right: 1%; width: 30px;" ng-src="{{ place.icon }}" />
    </md-card-content>
  </md-whiteframe>
</div>
